.about {
    display: flex;
    justify-content: space-around;
    margin: 10px;
}
.about-image {
    width: 40vw;
    max-width: 400px;
    margin-top: 40px;
    // height: 400px;
}
.section-header {
    width: 60vw;
}
.section-title{
    font-weight: 900;
    font-size: clamp(28px, 3vw, 40px);
    display: flex;
    // justify-content: baseline;
    // justify-content: center;
    align-items: baseline;
    .dash {
        background-color: black;
        width: 40vw;
        height: 1.5px;
        margin-left: 5px;
    }
}

/* Add this CSS in your stylesheet */
.tech-stack {
    column-count: 2; /* Set the number of columns */
    column-gap: 20px; /* Set the gap between columns */
    list-style: none; /* Remove default list styles */
    padding: 0; /* Remove default padding */
    margin-left: 30px;
    margin-bottom: 50px;
  }
  
  .tech-stack li {
    margin-bottom: 10px; /* Adjust spacing between items if needed */
  }
.icon {
    font-size: clamp(9px, 1vw, 10px);
    color: aqua;
}

@media only screen and (max-width: 1000px) {
    .about {
        flex-direction: column;
        justify-content: center;
        align-items: center;
    }
    .about-image, .section-header{
        width: 85vw;
    }
    .about-image {
        margin-top: 10px;
        // height: 400px;
    }
    .section-title{
        
        .dash {
           
            height: 1px;
        }
    }
}
